*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blue;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 50px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

.button-row {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 20px auto 20px auto;
    gap: 10px;
}

.button-row button {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

#resetButton {
    padding: 10px 20px;
    font-size: 16px;
}

#resetScoreButton {
    padding: 10px 20px;
    font-size: 16px;
}

#status {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#stats {
    margin-top: 10px;
    font-size: 16px;
}

#moveLog {
    margin-top: 20px;
    text-align: left;
    max-width: 300px;
}

#logList {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#logList li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s;
}

#logList li:hover {
    background-color: #f0f0f0;
}

.cell.highlight {
    background-color: red !important;
}

@media (max-width: 600px) {
    .cell {
        font-size: 8px;
    }
}

/********* Gestione Temi ***********/

.theme-selection {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

body.default-theme {
    background-color: blue;
    color: black;
}

body.dark-theme {
    background-color: #121212;
    color: white;
}

body.dark-theme .cell {
    background-color: #1e1e1e;
    color: #f1f1f1;
}

body.rosee-theme {
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: #4a148c;
}

body.rosee-theme .cell {
    background-color: #fff59d;
    color: #4a148c;
}

body.violet-theme {
    background: #fce4ec;
    color: #6a1b9a;
}

body.violet-theme .cell {
    background-color: #e1bee7;
    color: #6a1b9a;
}

.theme-selection label {
    color: black;
}

body.dark-theme .theme-selection {
    background-color: #2a2a2a;
}

body.dark-theme .theme-selection label {
    color: white;
}

body.rosee-theme .theme-selection {
    background-color: #ffe4e1; 
}
body.rosee-theme .theme-selection label {
    color: #4a148c;
}

body.violet-theme .theme-selection {
    background-color: #f3e5f5;
}

body.violet-theme .theme-selection label {
    color: #6a1b9a; 
}